@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

input {
  height: 38px;
  width: 320px;
  margin: 0.5em;
  border-radius: 5px;
}

input:focus {
  border: 2px solid theme('colors.secondary.default');
  color: theme('colors.secondary.dark');
}

@media only screen and (max-width: theme('screens.sm')) {
  input {
    width: 260px;
  }
}